<form class="jr-layout-column" [fxLayout]="getLayout(formConfig)" [fxLayoutGap]="getLayoutGap(formConfig)" style="width: 50%;">
    <ng-container *ngFor="let config of formConfig?.items">
        <ng-container  [ngTemplateOutlet]="getComponentType(config.type)"
        [ngTemplateOutletContext]="{$implicit: config , data:{}}"></ng-container>
    </ng-container>
    <div fxLayout="row" fxLayoutGap="10px">
        <button mat-raised-button aria-label="cancel" > Cancel</button>
        <button mat-raised-button color="primary" aria-label="save" > Save</button>
    </div>
</form>

<!-- Text Component -->
<ng-template  #textField let-config let-data="data">
    <jr-text [(ngModel)]="data[config.model]" [label]="config.label"></jr-text>
</ng-template >

<!-- DateCompoent -->
<ng-template  #dateField let-config let-data="data">
    <jr-datepicker [(ngModel)]="data[config.model]"  [label]="config.label"></jr-datepicker>
</ng-template >
<!-- Autocomplete Compoent -->
<ng-template  #autocompleteField let-config let-data="data">
    <jr-autocomplete [(ngModel)]="data[config.model]"  [label]="config.label"></jr-autocomplete>
</ng-template >

<!-- Number Compoent -->
<ng-template #numberField let-config let-data="data">
    <jr-text [(ngModel)]="data[config.model]" [label]="config.label"></jr-text>
</ng-template>

<!-- Checkbox Compoent -->
<ng-template #checkbox let-config let-data="data">
    <mat-checkbox  [(ngModel)]="data[config.model]">{{config.label}}</mat-checkbox>
</ng-template>

<!-- Radio Group -->
<ng-template #radio let-config let-data="data">
    <jr-radio  [(ngModel)]="data[config.model]"></jr-radio>
</ng-template>

<!-- container -->
<ng-template #container let-configs>
    <div [fxLayout]="getLayout(configs)" [fxLayoutGap]="getLayoutGap(configs)">
        <ng-container *ngFor="let conConfig of configs?.items">
            <ng-container  [ngTemplateOutlet]="getComponentType(conConfig.type)"
            [ngTemplateOutletContext]="{$implicit: conConfig , data:{}}"></ng-container>
        </ng-container>
    </div>
</ng-template>