<div class="jr-full-size jr-login-background" style="position:relative">
    <mat-card class="jr-login-card jr-layout-column jr-strech">
            <mat-toolbar color="primary">Login</mat-toolbar> 
            <mat-card-content style="flex:1">
                <form style="padding: 50px;" class="jr-layout-column" #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)">
                    <mat-form-field>
                      <mat-label>{{'username'|i18n}}</mat-label>
                      <input matInput required [(ngModel)]="user.username"
                       name="username"  #username="ngModel" autocomplete="off">
                      <mat-error *ngIf="username.invalid || username.pristine">Username is required</mat-error>
                    </mat-form-field>
                  
                    <mat-form-field>
                        <mat-label>{{'password'|i18n}}</mat-label>
                        <input matInput type="password" required [(ngModel)]="user.password" name="password"  #password="ngModel">
                        <mat-error *ngIf="password.invalid || password.pristine">Password is Required</mat-error>
                    </mat-form-field>

                    <div style="margin: auto;">
                        <button mat-fab  aria-label="submit button" type="submit">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>
                    </div>
                  </form>
            </mat-card-content>
    </mat-card>
</div>


