/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.jr-block-element{
    display: block;
}
.jr-full-size{
    width:100%;
    height:100%;
}

.jr-layout-column{
    display: flex!important;
    flex-direction: column;
}
.jr-layout-row{
    display: flex;
    flex-direction: row;
}

.jr-strech{
    align-items: stretch;
}
.jr-fitin-container{
    flex:1
}

.jr-page-header{
    margin-bottom: 10px;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    font-size: 20px;
}
